@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-semibold;
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}

:root {
    --clr1: #fff;
    --clr2: #ebeef3;
    --clr2-trans: #ebeef31c;
    --clr3: #bbc4d1;
    --clr4: #383b42;
    --clr5: #22252c;

    --clr-primary: #33be6d;
    --clr-secondary: #0c98b9;
}


* {
    box-sizing: border-box;
}

/* BASIC */

body {
    margin: 0;
    padding: 0;
    background-color: var(--clr5);
    /* background-image: url('img/bg-img.png'); */
    font-family: poppins;
    width: 100%;
    overflow-x: hidden;
}

body.editor-open .gallery-container {
    display: none;
}

body.editor-open .editor-container {
    display: flex;
}

/* HELPERS */

.main-section>*:not(.full) {
    margin-left: 20px;
    margin-right: 20px;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.clean-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn {
    font-family: poppins;
    background-color: unset;
    border: none;
    border-radius: 37px;
    cursor: pointer;
}

.btn-square {
    font-family: poppins;
    height: 50px;
    border: none;
    cursor: pointer;
}

/* LAYOUT */

/* header */
.logo {
    margin-inline-start: 5rem;
}

header {
    margin: 20px auto;
}

header li {
    margin-inline-end: 25px;
}

header ul:last-child {
    margin-inline-end: 50px;
}

/* main */

/* gallery */

.gallery-container {
    max-height: 100%;
    padding: 25px;
    margin-block-end: 15px;
}

.gallery-container .gallery-nav {
    margin-block-end: 15px;
    margin-block-end: 10px;
}

.gallery-container .imgs-container {
    overflow-y: scroll;
    height: 70vh;
    gap: 30px;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(50px, 200px)); */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-inline-end: 15px;
    padding: 10px;
}

.gallery-container .item {
    height: max-content;
    border-radius: 10px;
    overflow: hidden;


    aspect-ratio: 1 / 1;
}

.gallery-container .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* editor */

.editor-container {
    gap: 15px;
}

.editor-container .menu-controller {
    padding: 25px;
    width: fit-content;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    gap: 25px;
    position: relative;
}

.editor-container .export-btns {
    gap: 15px;
}

/* text-controller */

.text-controller {
    width: fit-content;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(50px, 1fr)); */
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px 50px;
    gap: 30px;

}

.text-controller .btn-square {
    width: 55px;
}

.text-controller .select-font {
    grid-column: 1 / span 3;
}



/* COMPONENTS */

/* header */

.logo {
    width: 100px;
}

header {
    background-image: linear-gradient(-86deg, var(--clr-primary) 0%, var(--clr-secondary) 100%);
    max-width: 98%;
    padding: 23px 5px;
    border-radius: 37px;
    max-height: 4.375rem;
}

header .btn {
    color: var(--clr1);
    font-size: 1.375rem;
    font-family: poppins-semibold;
    padding: 7px 15px;
    cursor: pointer;

}

header .btn:hover {
    color: #21ac91;
    background-color: var(--clr2);
}

header .btn.active {
    color: #21ac91;
    background-color: var(--clr1);
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
}

/* gallery section */

.gallery-container {
    background-color: var(--clr4);
    border-radius: 10px;
}


/* galley nav */

.gallery-nav .btn {
    background-image: linear-gradient(-86deg, var(--clr-primary) 0%, var(--clr-secondary) 100%);
    font-size: 1.125rem;
    padding: 5px 25px;
    color: var(--clr1);
}

.gallery-nav .btn:hover {
    transition: background-color 1s;
    background-image: linear-gradient(-86deg, var(--clr-secondary) 0%, var(--clr-primary) 100%);
}

.gallery-nav input {
    color: rgba(254, 254, 254, 0.397);
    font-family: poppins;
    font-size: 1.25rem;
    background-color: var(--clr5);
    border: none;
    border-radius: 30px;
    padding-inline-start: 50px;
    height: 60px;
    width: 50%;
}

.gallery-nav .nav-btns {
    width: 50%;
    justify-content: flex-end;
}

.gallery-nav input::after {

    content: url(../img/svg/search.svg);
}

.gallery-nav #keywords {
    text-transform: capitalize;
}

/* gallery images container */

.item {
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

/* scroll bar */

::-webkit-scrollbar {
    width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #22252c;
    border-radius: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    border-radius: 7px;
}


/* editor and canvas */

.editor-container {
    display: none;
}

.canvas-container {
    outline: var(--clr2-trans) solid 5px;
    width: 50%;
    max-width: 700px;
    border-radius: 30px;
    overflow: hidden;
}

/* control menu */

.menu-controller {
    width: 50%;
    max-width: 700px;
    background-color: var(--clr2-trans);
}

.menu-controller .input-text {
    text-align: center;
    font-family: poppins;
    font-size: 1.5625rem;
    border-radius: 28px;
    background-color: var(--clr2);
    border: none;
    color: #3d3d3d;
    box-shadow: 1px 5px 0 var(--clr3), inset 0 5px 0 var(--clr1);
}

.menu-controller .crudl-btns {
    gap: 22px;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
}


.menu-controller .crudl-btns .btn-square {
    align-items: flex-end;
}

.text-controller {
    background-color: #19a59f;
}

.text-controller .select-font {
    border-radius: 10px;
    background-color: var(--clr1);
    font-family: poppins-semibold;
    font-size: 1.625rem;
    text-transform: uppercase;
    padding: 0 35px;
}

.text-controller .label-stroke-color,
.text-controller .label-fill-color {
    background-color: var(--clr1);
}

.menu-controller {
    border-radius: 30px;
}

.menu-controller .btn-square {
    border-radius: 10px;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55);
    color: var(--clr1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.25rem;
}

.menu-controller .text-controller {
    border-radius: 10px;
    padding: 10px 15px;
    position: relative;
}

.menu-controller .input-stroke-color,
.menu-controller .input-fill-color {
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}


.menu-controller .btn-change-line {
    background-image: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
    box-shadow: 1px 5px 0 #048b97, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    height: 50px;
    width: 58px;
}

.menu-controller .btn-add-line {
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
    box-shadow: 1px 5px 0 #015d33, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    height: 50px;
    width: 58px;
}

.menu-controller .btn-delete-line {
    background-image: linear-gradient(-38deg, #cf1d37 0%, #cf1d37 1%, #f05036 100%);
    box-shadow: 1px 5px 0 #8c0606, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    height: 50px;
    width: 58px;
}

.menu-controller .btn-share {
    background-color: #1e7cd3;
    box-shadow: 1px 6px 0 #165c9c, inset 0 5px 0 rgba(255, 255, 255, 0.316);
    width: 50%;

}

.menu-controller .btn-share:active {
    background-color: #2590f5;
}

.menu-controller .btn-download {
    background-color: #8f44bb;
    box-shadow: 1px 5px 0 #632687, inset 0 5px 0 rgba(255, 255, 255, 0.316);
    width: 50%;
}

.menu-controller .btn-download:active {
    background-color: #a44ed5;
}

.menu-controller .btn-increase-size::before {
    content: url(../img/svg/font-increase.svg);
}

.menu-controller .btn-decrease-size::before {
    content: url(../img/svg/font-decrease.svg);
}

.menu-controller .btn-align-left::before {
    content: url(../img/svg/align-text-left.svg);
}

.menu-controller .btn-align-center::before {
    content: url(../img/svg/align-text-center.svg);
}

.menu-controller .btn-align-right::before {
    content: url(../img/svg/align-text-right.svg);
}

.menu-controller .btn-change-line::before {
    content: url(../img/svg/arrows.svg);
}

.menu-controller .btn-add-line::before {
    content: url(../img/svg/+.png);
}

.menu-controller .btn-delete-line::before {
    content: url(../img/svg/delete.svg);
}

.menu-controller .label-fill-color::before {
    content: url(../img/svg/pallette.svg);
}

.menu-controller .label-stroke-color::before {
    content: url(../img/svg/s.png);
}

/* .menu-controller .input-fill-color::before {
    content: url(../img/svg/pallette.svg);
} */


/* css rules */


@media (max-width: 1000px) {
    .editor-container {
        flex-direction: column;
        margin-left: 0;
        width: 100%;
    }

    .editor-container .canvas-container {
        width: 90%;
        margin: auto;
    }

    .gallery-container .imgs-container {
        gap: 15px;
    }

    .main-section>*:not(.full) {
        margin: 10px 0;
    }
}

@media (max-width: 520px) {

    body {
        overflow-x: hidden;
    }

    header {
        border-radius: 0;
        margin: 0;
        margin-bottom: 20px;
        width: 100%;
        box-sizing: content-box;
    }

    .logo {
        margin-inline-start: 0.625rem;
    }

    header ul {
        align-items: center;
    }


    header ul:last-child {
        margin-inline-end: 0;
    }

    header ul li {
        margin: 0;
    }

    .gallery-nav {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .gallery-nav input {
        width: 100%;
    }

    .gallery-nav .nav-btns {
        justify-content: center;
    }

    .gallery-nav>* {
        width: 100%;
        justify-content: space-between;
    }

    .gallery-container {
        padding: 10px;
    }

    .gallery-container .imgs-container {
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        height: 400px;
        overflow-y: scroll;
    }

    .editor-container {
        margin: 10px 0;
        gap: 30px;
    }

    .editor-container .menu-controller {
        padding: 10px;
        /* width: 100%; */
        margin-block-end: 10px;
    }

    /* .canvas-container {
        border-radius: 0;
    } */

    .editor-container .text-controller {
        padding: 5px;
        gap: 5px;
    }

    .menu-controller {
        padding: 10px 0;
    }

    .menu-controller .select-font {
        padding: 0;
    }
}