@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-semibold;
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}

:root {
    --clr1: #fff;
    --clr2: #ebeef3;
    --clr2-trans: #ebeef31c;
    --clr3: #bbc4d1;
    --clr4: #383b42;
    --clr5: #22252c;

    --clr-primary: #33be6d;
    --clr-secondary: #0c98b9;
}


* {
    box-sizing: border-box;
}

/* BASIC */

body {
    margin: 0;
    padding: 0;
    background-color: var(--clr5);
    /* background-image: url('img/bg-img.png'); */
    font-family: poppins;
}

button {
    /* background-color: inherit; */
}

body.editor-open .gallery-container {
    display: none;
}

body.editor-open .editor-container {
    display: flex;
}

/* HELPERS */

.main-section {
    margin: 0 90px;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.clean-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn {
    font-family: poppins;
    background-color: unset;
    border: unset;
    border-radius: 37px;
}

/* LAYOUT */

/* header */
.logo {
    margin-inline-start: 5rem;
}

header {
    margin: 10px auto 20px;
}

header li {
    margin-inline-end: 25px;
}

header ul:last-child {
    margin-inline-end: 50px;
}

/* main */

/* gallery */

.gallery-container {
    max-height: 600px;
    padding: 25px;
    margin-block-end: 15px;
}

.gallery-container .gallery-nav {
    /* remove later */
    /* background-color: green; */
    margin-block-end: 15px;
}

.gallery-container input {}

.gallery-container input button {}

.gallery-container .imgs-container {
    overflow-y: scroll;
    height: 500px;
    gap: 30px;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(50px, 200px)); */
    grid-template-columns: repeat(5, 1fr);
    margin-inline-end: 15px;
    padding: 10px;
}

.gallery-container .item {
    height: max-content;
    border-radius: 10px;
    overflow: hidden;


    aspect-ratio: 1 / 1;
}

.gallery-container .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* editor */

.editor-container {
    gap: 90px;
}

.editor-container .menu-controller {
    flex-direction: column;
}





/* COMPONENTS */

/* header */

.logo {
    width: 100px;
}

header {
    background-image: linear-gradient(-86deg, var(--clr-primary) 0%, var(--clr-secondary) 100%);
    max-width: 98%;
    padding: 23px 5px;
    border-radius: 37px;
    max-height: 4.375rem;
}

header .btn {
    color: var(--clr1);
    font-size: 1.375rem;
    font-family: poppins-semibold;
    padding: 7px 15px;

}

header .btn:hover {
    color: #21ac91;
    background-color: var(--clr2);
}

header .btn.active {
    color: #21ac91;
    background-color: var(--clr1);
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
}

/* gallery section */

.gallery-container {
    background-color: var(--clr4);
    border-radius: 10px;
}


/* galley nav */

.gallery-nav {}

.gallery-nav .btn {
    background-image: linear-gradient(-86deg, var(--clr-primary) 0%, var(--clr-secondary) 100%);
    font-size: 1.125rem;
    padding: 5px 25px;
    color: var(--clr1);
}

.gallery-nav .btn:hover {
    background-image: linear-gradient(-86deg, var(--clr-secondary) 0%, var(--clr-primary) 100%);
}

/* gallery images container */

.imgs-container {}

.item {
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
}


/* editor and canvas */

.editor-container {
    display: none;
}

.canvas-container {
    outline: var(--clr2-trans) solid 5px;
    width: 50%;
    max-width: 700px;
    border-radius: 30px;
    overflow: hidden;
}

/* control menu */

.menu-controller {
    width: 50%;
    max-width: 700px;
    background-color: var(--clr2-trans);
}

.text-controller {
    background-color: #19a59f;
}